goenv global 1.12.0

if [ ! -d "/usr/local/kubebuilder" ]; then
  os=$(go env GOOS)
  arch=$(go env GOARCH)

  # download kubebuilder and extract it to tmp
  curl -sL https://go.kubebuilder.io/dl/2.0.1/${os}/${arch} | tar -xz -C /tmp/

  # move to a long-term location and put it on your path
  sudo mv /tmp/kubebuilder_2.0.1_${os}_${arch} /usr/local/kubebuilder
fi

export PATH=$PATH:/usr/local/kubebuilder/bin
